﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    padding-top: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.validation-summary-valid.alert-danger {
    display: none;
}
.validation-summary-errors > ul {
    list-style: none;
    padding: 0;
}


/* helpers */
.bg-danger {
    background: #d9534f !important;
    color: white; !important;
}
.bg-light-yellow {
    background: rgb(250, 255, 173) !important;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.loading {
    position: relative;
}
.loading::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: silver;
    z-index: 9999

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}




/* fullcalendar */
.fc-day.fc-future:hover,
.fc-day.fc-today:hover {
    background: rgb(231, 247, 255) !important;
}
.fc-event.Disapproved,
.fc-event.Cancelled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAMklEQVQYV2NkwA/qGfHI1zMwMDTiUgCWBGnGpgAuiU0BiiS6AgxJZAVYJWEKcEqCFAAAltUHiJ2kh+gAAAAASUVORK5CYII=);
    border-color: red;
    color: rgb(42, 42, 42);
    text-shadow: 0px 0px 3px rgb(202, 202, 202);
    font-weight: bold;
}
.fc-event.Disapproved:hover,
.fc-event.Cancelled:hover {
    color: rgb(42, 42, 42);
}
.fc-event.Cancelled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQYV2P8z8BgzMjAcJYBC4DKMTBgUwQTY4RpRFaEzIYrACkESYBoZCuJV4DXCryOJORNAJXbGm1jEq8uAAAAAElFTkSuQmCC);
    background-color: rgb(216, 216, 216);
}

/* reports */


.month-link {
    display: block;
    padding: 8px;
}
.month-link:hover {
    background: rgb(116, 123, 255);
    color: white;
    text-decoration: none;
}
.quarter-month {
	padding: 0 !important;
	margin: 0 !important;
}
.quarter-month > a {
	padding: 10px 0;
	display: block;
	height: 100%;
}
.quarter-month > table {
	width: 100%;
	border-top: 0 !important;
}
.quarter-month > a > table td {
	border-top: 0 !important;
    padding: 5px;
}

.year-table th {
    background: rgb(212, 219, 255);
    padding: 0 !important;
}
.year-table th:first-child {
    padding: 8px !important;
}
.year-table tbody > tr > td:first-child {
    background: rgb(240, 240, 240);
    padding: 0 10px;
    line-height: 30px;
}

.year-table .quarter-month table td {
    background: rgb(240, 240, 240);
}