﻿@model HolidayCalendar.Models.RequestForm


@{
    var currentDate = DateTime.Now.ToString("dd MMM yyyy");
}

@using (Html.BeginForm("RequestLeaveSubmitAjax", "VacationLeave", FormMethod.Post, new { id = "request-leave-form" } )) {
    
    if(User.IsInRole("admin")) {
        @Html.DropDownListFor(model => model.userId, Model.UsersSelectList(), "", new { @class= "user-select-list form-control" })
        <div class="panel">
            <p>Date Employed: <strong class="u-details-date-employed"></strong></p>
            <p>Vacation Leave Used this year: <strong class="u-details-holidays-used"></strong></p>
            <p>Vacation Leave Remaining: <strong class="u-details-holiday-credits"></strong></p>
        </div>
    } else {
        <div class="form-group">
            <p>Employee: <strong>@Model.GetUserFullName()</strong></p>
            <p>Date Employed: <strong>@Model.GetUser().dateEmployed.ToString("dd MMM yyyy")</strong></p>
            <p>Vacation Leave Used this year: <strong>@Model.GetUsedDaysOfUser()</strong></p>
            <p>Vacation Leave Remaining: <strong>@Model.GetRemainingDays()</strong></p>
        </div>
    }

    <hr />
    
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    <div class="form-group">
        <label for="start">@Html.LabelFor(m => m.start)</label>
        @Html.TextBoxFor(model => model.start, new { @class = "datepicker form-control", @Value = currentDate, data_start_date = (User.IsInRole("admin") ? "" : "today") })
        @Html.ValidationMessageFor(m => m.start)
    </div>
    <div class="form-group">
        <label for="end">@Html.LabelFor(m => m.end)</label>
        @Html.TextBoxFor(model => model.end, new { @class = "datepicker form-control", @Value = currentDate, data_start_date = (User.IsInRole("admin") ? "" : "today") })
        @Html.ValidationMessageFor(m => m.end)
    </div>    
}