﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/fullcalendar-styles")
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Holiday Calendar", "Calendar", "VacationLeave", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if(User.IsInRole("admin")) {
                        <li>@Html.ActionLink("Approve", "Approve", "VacationLeave")</li>
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                        <li>@Html.ActionLink("Public Holidays", "Index", "Holiday")</li>
                        <li>@Html.ActionLink("Year Overview", "YearOverview", "Report")</li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if(User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("Logout", "Logout", "User")</li>  
                    }                  
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="content">
            @RenderBody()
        </div>
        <hr />
        <!--<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>-->
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/fullcalendar-scripts")

    <script>
        $(function() {

            $(".datepicker").each(function() {
                var el = $(this);
                var params = {
                    format: 'dd M yyyy',
                    autoclose: true
                };
                var startDate = el.data('start-date');

                if(startDate) {
                    params.startDate = startDate == 'today' ? new Date() : startDate;
                }

                el.datepicker(params);
            });
        });
    </script>
    @RenderSection("scripts", required: false)
    
</body>
</html>
