﻿@model IEnumerable<HolidayCalendarService.User>


<div class="panel clearfix">
	<div class="pull-right year-selector-container">
		Choose year <select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
			@for(var i = DateTime.Now.Year + 1; i >= DateTime.Now.Year - 10; i--) {
				<option @(ViewBag.Year == i ? "selected" : "") value="/Report/YearOverview?year=@i">@i</option>
			}
		</select>
	</div>
</div>


<table class="table table-bordered year-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>
    @foreach (var item in Model) {
	    <tr class="user-@item.id">
	        <td>
	            @Html.DisplayFor(modelItem => item.name)
	        </td>
	    </tr>
	}
</table>

<!-- modal -->
<div class="modal fade" id="calendar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Calendar</h4>
            </div>
            <div class="modal-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<script>
	$(function() {
		
		// modal calendar
		var calendar = $("#calendar");

		$('#calendar-modal').on('shown.bs.modal', function() {
			calendar.fullCalendar('render');
		});

		calendar.fullCalendar({
            events: "/VacationLeave/Events",
            header: {
            	left: 'title',
            	center: '',
            	right: ''
            },
            loading: function(isLoading) {
                var container = $('.fc-view-container');
                if(isLoading) {
                    container.addClass('loading');
                } else {
                    container.removeClass('loading');
                }
            }
        });
		

        $('body').on('click', '.month-link', function(e) {
        	e.preventDefault();
        	date = new Date(@ViewBag.Year, parseInt($(this).data('month')), 1);
	        calendar.fullCalendar('gotoDate', date);
        	$('#calendar-modal').modal('show');
        });

        DisplayYearOverview( $('.year-table'), @ViewBag.Year );

		// TODO: move this to another file
		function DisplayYearOverview(el, year) {
			// add months title
			var d = moment(new Date(year, 1, 1));
			var header = el.find('tr:first');
			var row;
			
			// header title
			do {				
				header.append('<th style="width: 80px"><a class="month-link" data-month="' + d.month() + '" href="#">' + d.format('MMMM') + '</a></th>');
				d = d.add(1, 'months');
			} while (d.month() != 1);


			// print quarter hidden tables for each month for each user
			d = moment(new Date(year, 1, 1));
			do {
				row = !row ? header.next() : row.next();
				do {
					row.append(
						"<td class='quarter-month month-" + d.month() + "'>" +
							"<table>" +
								"<tr>" +
									"<td class='week-item week-1 month-" + d.month() + "'></td>" +
									"<td class='week-item week-2 month-" + d.month() + "'></td>" +
									"<td class='week-item week-3 month-" + d.month() + "'></td>" +
									"<td class='week-item week-4 month-" + d.month() + "'></td>" +
								"</tr>" +
							"</table>" +
						"</td>"
					);


					d = d.add(1, 'months');
				} while (d.month() != 1);
			} while (row.length);

			// fetch events then print
			var start = moment(new Date(year, 0, 1));
			var end = moment(new Date(year, 11, 1));
			el.addClass('loading');

			$.get('/VacationLeave/Events/?start=' + 
				start.format('YYYY-MM-DD') + '&end=' + 
				end.format('YYYY-MM-DD'), function(data) {
					for(var i in data) {
						vl = data[i];

						// vl obj is holiday || rejected
						if(!vl.userId || vl.status == 'Disapproved' ) {
							continue;
						}

						start = moment(vl.start);
						// fix for fullcalendar events coz in the server 
						// we add 1 day to date ranges
						end = moment(vl.end).subtract(1, 'days');

						startNthOfMonth = Math.ceil(start.date() / 7);
						endNthOfMonth = Math.ceil(end.date() / 7);
						// move to week 4 if in week 5 coz we only
						// created quartes each month
						startNthOfMonth = startNthOfMonth >= 5 ? 4 : startNthOfMonth;
						endNthOfMonth = endNthOfMonth >= 5 ? 4 : endNthOfMonth;

						// find specific week then add color
						// loop through each item quarter item then print
						weeks = $('tr.user-' + vl.userId + ' .week-item');
						print = false;
						weeks.each(function() {
							item = $(this);

							if(print || (item.hasClass('month-' + start.month()) && item.hasClass('week-' + startNthOfMonth)) ) {
								print = true;
								item.css('background-color', vl.color);
								if(item.hasClass('month-' + end.month()) && item.hasClass('week-' + endNthOfMonth)) {
									print = false;
								}
							}
						});

						/*diff = end.diff(start, 'days');
						weeks = $('tr.user-' + vl.userId + ' .week-item');
						var item, index;

						do {
							if(!item) {
								itemEl = '.month-' + start.month() + '.week-' + startNthOfMonth;
								item = weeks.filter(itemEl);
								index = weeks.index(item);
							}

							console.log(index, vl.userId);
							item.css('background-color', vl.color);
							debugger
							item = $( weeks[++index] );

						} while(!item.is( weeks.filter('.month-' + end.month() + '.week-' + endNthOfMonth) ));*/

					}
					el.removeClass('loading');
			});

		}







	});


</script>