﻿@model HolidayCalendarService.Holiday


    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h3>Delete Holiday</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>
    
            <dd>
                @Model.date.ToString("MM-dd-yyyy")
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.repeat_anual)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.repeat_anual)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    