﻿@model HolidayCalendarService.Holiday


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h3>Edit Holiday</h3>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.date, new { @Value=Model.date.ToString("MM/dd/yyyy"), @class="form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.date)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.repeat_anual, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.repeat_anual)
                    @Html.ValidationMessageFor(model => model.repeat_anual)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.title, new { @class="form-control" })
                    @Html.ValidationMessageFor(model => model.title)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
