﻿@model IEnumerable<HolidayCalendarService.Holiday>


    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.repeat_anual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @if(item.repeat_anual) {
                    @item.date.ToString("dd MMM")
                } else {
                    @item.date.ToString("dd MMM yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repeat_anual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }, new {@class="btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class="btn btn-danger" })
            </td>
        </tr>
    }
    
    </table>