﻿@model List<HolidayCalendarService.VacationLeave>

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>
<table class="table table-bordered">
	<thead>
		<th>Employee Name</th>
		<th>Vacation Leave Remaining</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Days</th>
		<th></th>
	</thead>
    <tbody>
    	@foreach(var item in Model) {
    		var remaining = item.GetItemRemainingVacationLeaveDayCount();
    		var totalAccumulated = item.GetDaysCount();

	        <tr>
	            <td>@item.user.name</td>
	            <td>@remaining</td>
	            <td>@item.start.ToString("dd MMM yyyy")</td>
	            <td>@item.end.ToString("dd MMM yyyy")</td>
	            <td class="@(remaining - totalAccumulated < 0 ? "bg-danger" : "bg-light-yellow")">
		           	@totalAccumulated
	            </td>
	            <td>
	            	@{
	            		var approveMessage = "Confirm approval for " + item.user.name + "?";
	            		if(remaining - totalAccumulated < 0) {
	            			approveMessage += " This request has exceeds " + Math.Abs(remaining - totalAccumulated).ToString() + " days";
	            		}
					}
	            	<a href="/VacationLeave/ApproveRequest/@item.id" onclick="return confirm('@approveMessage')" class="btn btn-primary btn-approve">Approve</a>
	            	<a href="/VacationLeave/RejectRequest/@item.id" onclick="return confirm('Confirm rejection?')" class="btn btn-danger btn-reject">Reject</a>
	            </td>
	        </tr>
	    }
    <tbody>
</table>