﻿
@{
    ViewBag.Title = "Calendar";
}

<div class="clearfix panel panel-body">
    <div class="pull-right row">
        <button class="btn btn-primary btn-request-leave" data-toggle="modal" data-target="#request-leave-modal">Request Leave</button>
    </div>
</div>

<div id="calendar"></div>

<!-- modal -->
<div class="modal fade" id="request-leave-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Request For Leave</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/VacationLeave/Partial/RequestLeaveForm.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-request-leave-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function() {
            $("#calendar").fullCalendar({
                events: "/VacationLeave/Events",
                dayClick: function(date, ev) {
                    // dont popup if date is past
                    if(@(User.IsInRole("admin") ? "true" : "false") || moment().diff(date, 'days') <= 0) {
                        $('.datepicker').each(function() {
                            $(this).datepicker('update', date.toDate());
                        });
                        
                        $('#request-leave-modal').modal('show');
                    } else {
                        //alert('You cannot request leave to past dates.');
                        return;
                    }
                },
                loading: function(isLoading) {
                    var container = $('.fc-view-container');
                    if(isLoading) {
                        container.addClass('loading');
                    } else {
                        container.removeClass('loading');
                    }
                }

                @if(User.IsInRole("admin")) {
                    <text>
                    ,eventAfterRender: function(ev, $el) {
                        // add dropdowns only if cancelled | disapproved | is a non working holiday
                        if($.inArray('Approved', ev.className) >= 0 && 
                           $.inArray('Cancelled', ev.className) < 0) {
                            $el.addClass('dropdown-toggle');
                                $el.attr('id', '_id_' + ev.vlId);
                                $el.attr('data-toggle', 'dropdown');

                                $el.parent().wrapInner('<div class="dropdown"></div>')
                                $el.parent().append("<ul class='dropdown-menu' aria-labelledby='_id_" + ev.vlId + "'>" +
                                    "<li><a class='cancel-holiday' href='/VacationLeave/Cancel/" + ev.vlId + "'>Cancel Holiday</a></li>" +
                                  "</ul>");
                        }

                        $el.tooltip({
                            title: ev.title
                        })
                    }
                    </text>
                } else {
                    <text>
                    ,eventAfterRender: function(ev, $el) {
                        $el.tooltip({
                            title: ev.title
                        })
                    }
                    </text>
                }
            });

            $('.user-select-list').on('change', function(e) {
                var $dateEmployed = $('.u-details-date-employed').text('');
                var $holidaysUsed = $('.u-details-holidays-used').text('');;
                var $holidayCredits = $('.u-details-holiday-credits').text('');;
                $.get('/VacationLeave/GetUserHolidayDetails/' + $(e.currentTarget).val(),
                    function(data) {
                        if(data) {
                            $dateEmployed.text(data.dateEmployed);
                            $holidaysUsed.text(data.holidaysUsed);
                            $holidayCredits.text(data.holidayCredits);
                        }
                    });
            });

            // handle request leave submission here
            $(".btn-request-leave-submit").click(function() {
                var theForm = $("#request-leave-form");
                var validationSummary = $(".validation-summary-valid");
                validationSummary.hide();

                $.post("/VacationLeave/RequestLeavePreValidateAjax", theForm.serialize(), function(data) {
                    var errors = data && data[0] && data[0].errors;
                    if(errors) {
                        validationSummary.html(errors.join("<br />")).show();
                    } else {
                        // no errors found on validation
                        // continue submitting the form to insert the record
                        theForm.submit();
                    }
                });
            });

            $('body').on('click', '.cancel-holiday', function(e) {
                if(! confirm('Continue to cancel selected holiday? Are you sure the holiday is not taken?')) {
                    e.preventDefault();
                    e.stopPropagation();
                    return;
                }
            });

            $('[name=start]').on('changeDate', function(e) {
                $('[name=end]').datepicker('update', moment(e.date).toDate())
            });

        });
    </script>
}