﻿@model HolidayCalendar.Models.UserView.Create

<div class="clearfix">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Create user</h3>
        <hr />

        <div class="col-md-7">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.username, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.username, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.username)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.PasswordFor(model => model.password, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.name, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.holidayCredits, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.holidayCredits, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.holidayCredits)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.dateEmployed, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.dateEmployed, " ", new { @class = "datepicker form-control" } )
                    @Html.ValidationMessageFor(model => model.dateEmployed)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.roles, new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.roles, Model.RolesList, null, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.roles)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Create" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
