﻿@model IEnumerable<HolidayCalendarService.User>

<p>
    @Html.ActionLink("Create New", "Create", new {}, new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateEmployed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roles)
        </td>
        <td>
            @item.dateEmployed.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class = "btn btn-default" } ) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger btn-delete" } )
        </td>
    </tr>
}

</table>


<script>
    $(function() {
        $('.btn-delete').click(function(e) {
            e.preventDefault();
            if(confirm("Confirm delete?")) {
                window.location.href = $(this).attr("href");
            }
        })
    })

</script>