﻿
@model HolidayCalendar.Models.LoginView

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Login</h3>
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            <div class="form-group">
                <label for="username">@Html.LabelFor(m => m.username)</label>
                @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.username)
            </div>
            <div class="form-group">
                <label for="username">@Html.LabelFor(m => m.password)</label>
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.password)
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary btn-block" />
            </div>
        }
    </div>
</div>

